// Bootstrap configs
@import './theme/flately/custom';

// Bootstrap library
@import 'bootstrap/scss/bootstrap';

* {
  font-family: Montserrat !important;
}

.height100vh {
  height: 100vh !important
}

button {
  border-radius: 0 !important;
}

.table {
  thead: {
    background-color: $primary;
  }
}

.table thead th {
  color: $light;
  font-weight: 800 !important;
}

.table tbody tr td {
  color: $primary
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

.btn-group-sm .btn-mini {
  height: 24px !important;
  padding: 0px 4px 2px 4px !important;
  margin: 0 !important;
}

/* Estilização da navbar padrão */
.bg-primary.navbar-dark .navbar-nav .nav-item {
  line-height: 2;
}

.bg-primary.navbar-dark .navbar-nav .nav-link:focus,
.bg-primary.navbar-dark .navbar-nav .nav-link:hover,
.bg-primary.navbar-dark .navbar-nav .active>.nav-link {
  color: $primary !important;
  font-weight: 600;
  background-color: #18BC9C;
}

/* Menu Dropdown Nav Bar padrao */
.bg-primary.navbar-dark {
  .dropdown-menu {
    padding: 0;
    margin: 0;

    .dropdown-divider {
      margin: 0 !important;
    }
  }

  .dropdown-item:hover .dropdown-item :focus {
    background: $green !important;
    color: $primary !important;
  }
}


// .navbar-nav.dropdown-menu .dropdown-item {
//   color: $teal !important;
//   background-color: $primary;
//   color: $teal;
// }

// .navbar-nav .dropdown-menu:hover {
//   background-color: $primary;
//   color: $teal
// }

// .nav-link.active {
//   color: #18BC9C !important;
//   font-weight: 800;
// }
